@import url('productos.css');
@import url('pagProductos.css');
/* Cabecera de la pagina*/
.container {
    width: 100%;
    height: 131px;
    position: relative;
  }
  
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Fondo blanco o el color que prefieras */
    z-index: 1000; /* Asegúrate de que el nav esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añade una sombra si quieres */
}
  .gradient {
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #F88B30 11%, #F88B30 13%, #F2953C 48%, rgba(251, 164, 86, 0.86) 79%, rgba(255, 199, 149, 0.86) 100%);
  }
  
  /*img de pefil*/
    .banner {
    width: 90.99px;
    height: 90.99px; /* Asegúrate de que el alto coincida con el ancho para que sea un círculo */
    border-radius: 50%; /* Hace que el borde del elemento sea redondeado, creando un círculo */
    left: 90%;
    top: 30px;
    position: absolute;
}

/* IMG MealMarket en el header*/
  .logo {
    width: 20%; /* Ajusta el ancho según sea necesario */
    height: 95%; /* Ajusta el alto según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    top: 0; /* Ajusta la posición vertical según sea necesario */
    position: absolute;
    border-radius: 50px;
}


  
  /*Barra de busqueda*/
  .containerBusqueda {
    width:50%;
    height: 150px;
    margin-left: 28%;

    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  /*Donde se escribe para buscar*/
  .input-wrapper {
    width: 100px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 32px;
    background: #FBFBFB;
    border-radius: 100px;
    border: 1px #8d1212 solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 1 0;
    display: flex;
  }
  

  
  .icon-inner {
    width: 16px;
    height: 16px;
    left: 3px;
    top: 3px;
    position: absolute;
    
  }
  
  .text {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px; /* ajusta el radio de la esquina para que coincida con el contenedor */
    background-color: #FBFBFB; /* color de fondo */
    font-size: 16px;
    font-family: 'Arial', sans-serif; /* ajusta la fuente según sea necesario */
  }
  .text:focus {
    outline: none; /* elimina el borde al enfocar */
  }
  
  .action {
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
  }
  
  .action-icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .action-icon-inner {
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    position: absolute;
    background: black;
  }
  
  /* LOGIN FORM */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffc08d; /* Color de fondo */
    color: #000000; /* Color del texto */
}
  .login-container {

    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px;
    text-align: center;
    margin-top:200px;
}

h2 {
    margin-bottom: 20px;
}
  
.login-wrapper {
    width: 92%;
    margin-bottom: 20px;
    margin-right: 5%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FBFBFB; /* Color de fondo del campo de entrada */
    color: #333; /* Color del texto */
}

/*     */
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F2953C; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer;
    font-size: 1.2em;
}
.send {
  width: 49%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F2953C; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
    background-color: #F88B30; /* Color de fondo del botón al pasar el ratón */
}


/*  CARRITO */
.carrito{
  /*margin-top: 150px;*/
  color: black;
}

footer {
  color: black;
  font-weight: bold;
  font-size: 1em;
  height: auto; /* O puedes definir una altura específica si deseas un footer de altura fija */
  background-color: #ffc08d;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
 
  padding: 20px; /* Añade algo de padding para asegurar espacio dentro del footer */
}

.searchButton {
  width: auto; /* Ajusta el ancho automáticamente */
  padding: 10px; /* Ajusta el padding */
  border-radius: 0 5px 5px 0; /* Solo bordes redondeados en el lado derecho */
  background-color: #F2953C; /* Mantiene el color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin bordes adicionales */
  cursor: pointer; /* Cursor de puntero */
  font-size: 1em; /* Ajusta el tamaño de fuente */
}

/*  pedido*/

.pedido {
  margin-top: 50px; /* Ajusta el valor según tus necesidades */
  padding: 20px; /* Añade relleno interno si es necesario */
 /* background-color: #f9f9f9; /* Añade un color de fondo si es necesario */
  border-radius: 5px; /* Añade bordes redondeados si es necesario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra si es necesario */
}