@import url('productos.css');
/* Cabecera de la pagina*/
.container {
    width: 100%;
    height: 131px;
    position: relative;
  }
  
  .gradient {
    width: 100%;
    height: 161px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #F88B30 11%, #F88B30 13%, #F2953C 48%, rgba(251, 164, 86, 0.86) 79%, rgba(255, 199, 149, 0.86) 100%);
  }
  
  /*img de pefil*/
    .banner {
    width: 90.99px;
    height: 90.99px; /* Asegúrate de que el alto coincida con el ancho para que sea un círculo */
    border-radius: 50%; /* Hace que el borde del elemento sea redondeado, creando un círculo */
    left: 90%;
    top: 30px;
    position: absolute;
}

/* IMG MealMarket en el header*/
  .logo {
    width: 400px; /* Ajusta el ancho según sea necesario */
    height: 150px; /* Ajusta el alto según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    top: 0; /* Ajusta la posición vertical según sea necesario */
    position: absolute;
}


  
  /*Barra de busqueda*/
  .containerBusqueda {
    width: 50%;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 22%;
    padding-right: 8px;
    background: rgba(255, 255, 255, 0.377);
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: inline-flex;
  }
  
  /*Donde se escribe para buscar*/
  .input-wrapper {
    flex: 1 1 0;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 52px;
    background: #FBFBFB;
    border-radius: 100px;
    border: 1px #8d1212 solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
    
    
  }
  

  
  .icon-inner {
    width: 16px;
    height: 16px;
    left: 3px;
    top: 3px;
    position: absolute;
    
  }
  
  .text {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px; /* ajusta el radio de la esquina para que coincida con el contenedor */
    background-color: #FBFBFB; /* color de fondo */
    font-size: 16px;
    font-family: 'Arial', sans-serif; /* ajusta la fuente según sea necesario */
  }
  .text:focus {
    outline: none; /* elimina el borde al enfocar */
  }
  
  .action {
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
  }
  
  .action-icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .action-icon-inner {
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    position: absolute;
    background: black;
  }
  
  
