.container-producto {
  width: auto;
  height: 960px;
  position: relative;
  background: white;
}

.product-image {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 62px;
  top: 50px;
}

 .product-name {
  width: 600px;
  height: 70px;
  position: absolute;
  left: 800px;
  top: 100px;
  color: black;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}
.precio-Style{
  font-size: 30px;
}
.opniones{
  margin-top: 50%;
}