{# templates/correoBienvenida.html.twig #}


{% block title %}Registro Exitoso{% endblock %}

{% block content %}
    <h1>Bienvenido, {{ user.nombreusuario }}!</h1>
    <p>¡Tu registro ha sido exitoso!</p>
{#     <p><a href="{{ path('activateAccount', {'token': token}) }}">Activar cuenta</a></p>
 #}
    {# Puedes agregar más contenido o personalización aquí según tus necesidades #}
{% endblock %}