{% extends 'header.html.twig' %} {# aporta el css#}

    {% block body %}

    <div style="margin-top:25 px;"  class="login-container">
            <h2>Iniciar sesión</h2>
           {#  {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {#  cambiar el action  #}
            <form action="{{ path('login') }}" method="post">
                <div class="login-wrapper">
                <label style="font-weight:bolder;">Usuario</label>
                    <input type="text" name="_username" placeholder="Nombre de usuario" value="" required>
                </div>
                <div class="login-wrapper">
                <label>Contraseña</label>
                    <input type="password" name="_password" placeholder="Contraseña" required>
                </div>
                <input class="send" style="width:100%;" type="submit" value="Enviar">
                <br> <br>
                <a href="{{ path('registro') }}"> Crear una nueva cuenta</a>

            </form>
        </div>
    {% endblock %}