{% extends 'header.html.twig' %}

{% block body %}


    {{ parent() }}
    <div class="container">
        <img class="product-image" src="{{ producto.img }}" alt="Imagen del producto" />
        <div class="info-box">
            <div class="background-box"></div>
            <div class="ratings">Valoraciones</div>
            <div class="price">{{ producto.price }} €</div>
            <div class="product-name">{{ producto.name }}</div>
        </div>
        <div class="reviews-box">
            <form action="/submit" method="post">
                <label for="opinion">Escriba su opinión sobre el producto:</label>
                <input type="text" id="opinion" name="opinion" required>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>


{% endblock %}
