{% extends 'header.html.twig' %}

{% block body %}
    <div class="containerBusqueda">
        <div class="input-wrapper">
          <div class="icon"> <img src="img\lupa.png" alt="busqueda"/>
            <div class="icon-inner">  </div>
          </div>
          {# Configurar la ruta y el controlador de busqueda habria q mirar lo de AJAX #}
          
            {# <form action="{{ path('busqueda', {idProduct: idProduct}) }}" method="post">
              <input type="text" class="text" placeholder="Escribe un productor para buscar...">
              <button type="submit">Buscar</button>
            </form> #}
        </div>

    </div>

    <div class="container-producto">
        <img class="product-image" src="{{ producto.img }}" alt="Imagen del producto" />
        <div class="product-name">{{ producto.name }}
          <p class="precio-Style">{{ producto.price }} €</p>
        </div>  
    </div>

  {#   <p>---------------------------------------------</p> #}
  {# div de las opiniones de los usuarios #}
     {#  <div class="opiniones"> 
      <p>Opiniones</p>
        <div class="opiniones">
          <form action="/submit" method="post">
            <label for="opinion">Escriba su opinion sobre el producto:</label>
            <input type="text" id="opinion" name="opinion" required>
          </form>
        </div>
    </div> #}
{% endblock %}
